.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.escrito{
 padding: 5px;
 margin: 5%;
}
.section-formulario{
    width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 5%;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #08059c;
}
.section-formulario select{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-formulario h4{
    margin-top: 5px;
    margin-bottom: 5ex;
    font-size: 50px;
    margin-bottom: 20px;
    
}

body{
    background-image:url('/src/nodo.svg');
    background-size: 1% 1% contain;
    background-repeat: repeat;
    background-size:cover;
}

.warnning{
    width: 100px;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 10px;
    display:none;
}

.button{
    display: block;
    cursor: pointer;
  margin: 5%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10%;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 16px;
  width: 40%; 
  height: 40%; 
  
}